<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ffrancisco-rosa"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/francisco-abilio-rosa/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Francisco Rosa at Le Wagon
  </div>
</div>
