  <div class="nav-bar">
    <div class="nav-1 d-flex">
      <i class="fas fa-cocktail"></i>
      <h1 class="title-navbar">Cocktailarino</h1>
    </div>
    <div class="navbar-options">
      <h5> Search bar </h5>
      <%= render 'shared/new_cocktail' %>
    </div>
  </div>
