  <div class="nav-bar" id="navbar">
    <div class="nav-1 d-flex">
      <%= link_to root_path do %>
        <i class="fas fa-cocktail"></i>
      <% end %>
      <h1 class="title-navbar">Cocktailarino</h1>
    </div>
    <div class="navbar-options">
      <%= render 'shared/new_cocktail' %>
    </div>
  </div>
