.nav-bar {
  background-color: #0D221E;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-1 {
  color: white;
  align-items: center;
  i {
    font-size: 40px;
    margin-left: 32px;
    color: white;
  }
  // a {
  //   text-decoration: none;
  //   color: white;
  // }
}
.title-navbar {
  margin: 16px;
  color: white;
  margin-top: 32px;
}

.navbar-options {
  display: flex;
  align-items: center;
  margin-right: 32px;
  h5 {
    color:white;
    margin-right: 8px;
  }

  button {
    font-weight: bold;

  }
}
