.nav-bar {
  background-color: #1f2833;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-1 {
  color: white;
  align-items: center;
  i {
    font-size: 40px;
    margin-left: 32px;
    color: white;
  }
}
.title-navbar {
  margin: 16px;
  color: white;
  margin-top: 32px;
}

.navbar-options {
  display: flex;
  align-items: center;
  margin-right: 40px;

  h5 {
    color:black;
    margin-right: 8px;
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .nav-bar {
    h1 {
      font-size: 1.5rem;
    }
    i {
      font-size: 2rem;
    }

    button {
      padding: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .nav-bar {
    h1 {
      font-size: 1.5rem;
    }
    i {
      font-size: 2rem;
    }

    button {
      padding: 0;
    }
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
