._form-in-modal {
}

._new_footer {
  display: flex;
  justify-content: space-between;
}

#cocktail_photo {
  color:black;
}

.title-of-modal {
  color: black;
}

.new-form-name {
  color: black;
}

img {
  width: 100%;

}
