// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Cocktails
@import "cocktails/index";
@import "cocktails/show";
@import "cocktails/new";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Da 2', cursive;
  color: #66FCF1;
}

p {
  font-family: 'Baloo Thambi 2', cursive;
  color: #66FCF1;
}

li {
  color: #66FCF1;
}

form {
  color: #66FCF1;
}
html, body {
  width: 100%;
  background-color: #0b0c10;
}

a {
  text-decoration: none;
}

@media (min-width: 100px) and (max-width: 575px) {
  .title-navbar {
    margin: 3px;


  }
  h1 {
      font-size: 1.5rem;
    }

  }
