.banner {
  height: 650px;
  background-image: url('https://res.cloudinary.com/frosa/image/upload/v1585153615/landing-page.jpg');
  background-size: cover;
  width: 100%;
  margin: 0;
}

.card-container {
  width: 75%;
  margin-top: 80px;
  margin-left: 40px;
  a {
    text-decoration:none;
  }
}

._secondary-card-container {
    padding: 24px;
}

h5 {
  border-radius: 5px;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px yellow;
  padding: 16px;
  margin: 32px;

  i {
    font-size: 18px;
    color: yellow;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
    a {
    text-decoration:none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  i {
    font-size: 0.4rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    i {
    font-size: 0.9rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
