.cocktail-img {
  img {
    max-width: 100%;
    height: 400px;
  }
}

.element-box {
  margin-top: 32px;
  margin-bottom: 32px;
}

.reviews-title {
  margin-top: 16px;
  margin-bottom: 16px;
}


.review {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.review .review-content {
  flex-grow: 1;
  padding: 0 24px;


}

.review p {
  margin: 0;
  line-height: 1.4;
  color: black;
}

.fa-star {
  color: yellow;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cocktail-img{
     img {
    height: 200px;
  }

  }
   li {
    i {
      font-size: 0.8rem;
    }
  }
  .review-p {
    p {
      font-size: 0.5rem;
    }

    i{
      font-size: 0.5rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .review-p {
    i {
      font-size: 0.5rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
